/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Intro section
--------------------------------------------------------------*/
.global{
	text-align: center;
    color: white;
    height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.vertical{
	position: relative;
	top: 45%;
	margin-left: 50%;
	right: 25%;
}

/*--------------------------------------------------------------
# About me
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Work
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/